*{
    background-color: rgba(158, 152, 155, 0.507);
    margin: 0;
}

.from {
    margin: 5px;
}

.from-head {
    margin: 5px;
}

.to {
    margin: 5px;
}

.to-head {
    margin: 5px;
}

.find {
    margin-left: 1%;
}